@model IEnumerable<RecipeKeeper.Models.IngredientListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IngredientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IngredientName)
        </th>
        <th>@Html.DisplayNameFor(model => model.IngredientType)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IngredientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IngredientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IngredientType)
            </td>
            <td>
                @Html.ActionLink("Find Recipes!", "GetRecipeByIngredient", new { id = item.IngredientId }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.IngredientId }) |
                @Html.ActionLink("Detail", "Detail", new { id = item.IngredientId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IngredientId })
            </td>
        </tr>
    }
    
</table>
