@model RecipeKeeper.Models.RecipeCreate

@{
    ViewBag.Title = "Create";
}
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>RecipeCreate</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.RecipeName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RecipeName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RecipeName, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.PageNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PageNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PageNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RecipeType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RecipeType, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RecipeType, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CuisineType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CuisineType, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CuisineType, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BookId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BookId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BookId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.IngredientId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.DropDownListFor(model => model.IngredientId,ViewBag.IngredientId as SelectList, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IngredientId, "", new { @class = "text-danger" })
        </div>
        @*<input type="hidden" id="textBoxVal" />
        <select class="mySelect2" multiple style=" width:300px;">
         
        </select>*@
    </div>
    <script>
        //$(document).ready(function () {
        //    $(".mySelect2").select2({
        //        placeholder: "Select ingredients",
        //        allowClear: true,
        //        theme: "classic",
        //        ajax: {
        //            url: "/Recipe/GetIngredient",
        //            dataType: 'json',
        //            delay: 250,
        //            data: function (params) {
        //                return {
        //                    searchTerm: params.term
        //                };
        //            },
        //            processResults: function (data, params) {
        //                return {
        //                    results:data
        //                };
        //            }
        //        }
        //    })
        //});
        //$("mySelect2").on("change", function () { });
        //var ingredientId = $(this).val();
        //$("#textBoxVal").val(ingredientId);


        //var textBoxValueData = $("#textBoxVal").val();
        //$.ajax({
        //    url: '/Home/Save?data=' + textBoxValueData,
        //    datatype: 'json',
        //    type: 'post',
            //    contentType:'applciation/x-www-form-urlencoded',
            //data:$(this).serialize(),
            //success: function (data, textStatus, jQxhr) {
            //    $('#response pre').html.data;
            //},
            //error: function (jqXhr, textStatus, errorThrown) {
            //    console.log(errorThrown);
            //}

        //});
    </script>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>

    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/select2.min.js"></script>
}
